.squares {
    width: 3vw;
    height: 6vh;
    display: inline-block;
    opacity: 0;
}

.square-normal {
    background-color: deepskyblue;
}

.square-blank {
    background-color: white;
}

.heading {
    position: absolute;
}