<div id = "body-container" class = "container-fluid">
    <div class = "container-fluid">
        <div class= "row mx-auto my-auto justify-content-center">
            <div class = "carousel-1">
                <div class="carousel slide" data-bs-ride="carousel" style= "padding-top: 40px;" data-bs-interval = "3000" data-bs-pause = "false">
                    <div class="carousel-inner" role= "listbox">
                      <div class="carousel-item active">
                          <a [routerLink] = "['/projects/league-site', championNames[0]]">
                            <img src={{icons[0]}} class = "d-block w-20 rounded" style = "margin-right: 20px;">
                          </a>
                      </div>
                      <ng-container *ngFor = "let icon of icons; let i = index">
                          <ng-container *ngIf = "i != 0 && i < icons.length /2">
                            <div class="carousel-item">
                                <a [routerLink] = "['/projects/league-site', championNames[i]]">
                                    <img src={{icon}} class="d-block w-20 rounded" style = "margin-right: 20px;">
                                </a>
                              </div>
                          </ng-container>
                      </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "container-fluid">
        <div class="d-flex justify-content-center">
            <h1 style = "padding-top: 10px;">
                LEAGUE OF LEGENDS 
            </h1>
        </div>
        <div class = "d-flex justify-content-center">
            <h2>
                Optimal Item Builder
            </h2>
        </div>
        <div class = "d-flex justify-content-center">
            <p>
                Last Patch Updated: <strong>11.13</strong>
            </p>
        </div>    
    </div>

    <div class = "container-fluid">
        <div class = "d-flex justify-content-center">
                <input id = "searchBar" class="form-control me-2" type = "text" placeholder="Input champion name..." style = "width: 70%;">
                <button id = "searchButton" class="btn btn-outline-primary" (click) = "getSearch()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></button>
        </div>
    </div>

    <div class = "container-fluid carousel-2" style = "padding-top: 40px;">
        <div class= "row mx-auto my-auto justify-content-center">
            <div class="carousel slide" data-bs-ride="carousel" data-bs-interval = "3000" data-bs-pause = "false" style = "padding-bottom: 40px;">
                <div class="carousel-inner" role = "listbox">
                <div class="carousel-item active">
                    <a [routerLink] = "['/projects/league-site', championNames[halfIconLength + 1]]">
                        <img src={{icons[halfIconLength]}} class="d-block w-20 rounded" alt="..." style = "margin-right: 20px;">
                    </a>
                </div>
                <ng-container *ngFor = "let icon of icons; let i = index">
                    <ng-container *ngIf = "i > halfIconLength">
                    <div class="carousel-item">
                        <a [routerLink] = "['/projects/league-site', championNames[i + 1]]">
                            <img src={{icon}} class="d-block w-20 rounded" style = "margin-right: 20px;">
                        </a>
                    </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
  </div> 
</div>

