h1 {
    padding-top: 7%;
    padding-bottom: 7%;
    margin-bottom: 2%;
    margin-top:2%;
    justify-content: center;
    text-align: center;
    color: white;
}

#icon-images{
    width: 100px;
    height: auto;
    padding-right: 2%;
    padding-top: 7%;
}

.zoom {
    transition: transform 0.3s;
}

.zoom:hover{
    transform: scale(1.2);
}

.gradientBlack {
    background: rgb(186,186,186);
    background: linear-gradient(90deg, rgba(186,186,186,1) 0%, rgba(10,10,40,1) 56%, rgba(0,0,0,1) 100%);
}