<div class = "container-fluid">
    <div class = "bg-secondary">
        <h1>Profile</h1>
    </div>
    <h2>About Me</h2>
    <p>{{aboutMe}}</p>

    <h2>Skills</h2>

    <div class = "d-flex justify-content-center">
        <h3>Languages</h3>
    </div>

    <div class = "row justify-content-center" style = "padding-bottom: 5%;">
        <img id = "languages" [src] = languages[0]>
        <img id = "languages" [src] = languages[1]>
        <img id = "languages" [src] = languages[2]>
        <img id = "languages" [src] = languages[3]>
        <img id = "languages" [src] = languages[4]>
        <img id = "languages" [src] = languages[5]>
        <img id = "languages" [src] = languages[6]>
        <img id = "languages" [src] = languages[7]>

    </div>

    <div class = "d-flex justify-content-center">
        <h3>Web Development</h3>
    </div>

    <div class = "row justify-content-center" style = "padding-bottom: 5%;">
        <img id = "languages" [src] = web[0]>
        <img id = "languages" [src] = web[1]>
        <img id = "languages" [src] = web[2]>
        <img id = "languages" [src] = web[3]>
        <img id = "languages" [src] = web[4]>
        <img id = "languages" [src] = web[5]>
        <img id = "languages" [src] = web[6]>

    </div>

    <div class = "d-flex justify-content-center">
        <h3>Game Development</h3>
    </div>

    <div class = "row justify-content-center" style = "padding-bottom: 5%;">
        <img id = "languages" [src] = game[0]>

    </div>
    <h2>Work Experience</h2>
    <app-work-profile></app-work-profile>
    <!-- <h2>Projects</h2>
    <app-project-card></app-project-card> -->
    <!-- <div id= "projects" [innerHTML] = "projects"></div> -->
</div>


