h1 {
    padding-top: 7%;
    padding-bottom: 7%;
    margin-bottom: 2%;
    margin-top:2%;
    justify-content: center;
    text-align: center;
    color: white;
}
h2{
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
}

h4 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

#projects {
    text-align: center;
}

#languages {
    width: 140px;
    height: auto;
    padding-top: 2%;
}

.image-container{
    display: flex;
    flex-wrap:wrap;
    align-content: space-evenly;
}

#skills { 
    justify-content: center;
}

.rounded-circle {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.zoom {
    transition: transform 0.3s;
}

.zoom:hover {
    transform: scale(1.15);
}

.gradientBlack {
    background: rgb(186,186,186);
    background: linear-gradient(90deg, rgba(186,186,186,1) 0%, rgba(10,10,40,1) 56%, rgba(0,0,0,1) 100%);
}