<div class = "container-fluid">
    <div class = "bg-secondary">
        <h1>Profile</h1>
    </div>

    <div class = "row">
        <div class= "col-6 d-flex justify-content-center">
            <img id = "profile-pic" class = "rounded-circle" src = "/assets/icons/hungerovereasy.png">
        </div>
        <div class = "col-6">
            <h2>About Me</h2>
            <h4>Summary</h4>
            <p>I am a new programmer to the scene, looking for opportunities in Software Development and Video Game Development.</p>
            <h4>Education</h4>
            <p>University of California - Irvine | Computer Science Major | Expected Grad: Spring 2022</p>
            <h4>Hobbies and Interest</h4>
            <p>Volleyball, Basketball, Running, Photography, Cooking, Music, Video Gaming</p>
            
            
        </div>
    </div>
    <div style = "padding: 2%;"></div>

    <div *ngFor = "let row of data">
        <div class = "d-flex justify-content-center" style = "padding-bottom: 1%;">
            <h2>
                {{row.title}}
            </h2>
        </div>
        <div class = "row justify-content-center" style = "padding-bottom: 3%;">
            <img *ngFor = "let image of row.images" src = {{image}} id = "languages">
        </div>
    </div>
</div>


